#datelabel{
    -fx-graphic: url("../images/date.png");
}
#hourselabel{
    -fx-graphic: url("../images/hourse.png");
}
#distance{
    -fx-graphic: url("../images/distance.png");
}
#object{
    -fx-graphic: url("../images/object.png");
}
#btnTrash{
    -fx-graphic: url("../images/trash.png");
    -fx-background-color: none; 
}
#btnTrash:hover{
    -fx-graphic: url("../images/trash_hover.png");
    -fx-background-color: none; 
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.5), 3, 0, 0, 0); 
}
#btnPlus{
     -fx-graphic: url("../images/plus.png");
     -fx-background-color: none;
}
#btnPlus:hover{
    -fx-graphic: url("../images/plus_hover.png");
    -fx-background-color: none;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.5), 3, 0, 0, 0);
}