#tablecolumn{
     -fx-alignment: center;
}
.column-header{
    -fx-background-color: #563f9e;
    -fx-text-fill: white;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}
